#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  display: block;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #444444aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.read-the-docs {
  color: #888;
}

.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 12px;
}

.light {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: all 300ms;
}

.red {
  background-color: red;
  box-shadow: 0px 0px 20px 1px salmon;
}

.yellow {
  background-color: gold;
  box-shadow: 0px 0px 20px 1px yellow;
}

.green {
  background-color: lime;
  box-shadow: 0px 0px 20px 1px greenyellow;
}

.dim {
  opacity: 0.2;
  box-shadow: none;
}

.error-text {
  color: crimson;
  font-weight: 600;
}
